In [ ]:
Theory Questions

1) What are data structures, and why are they important?
A) Data structures are ways of organizing & storing data so that it can be accessed &  modified efficiently.
They are important because they help organize data logically making it easier to process, modify or analyze. They help represent and manage real-world data and can be reused.

2)Explain the difference between mutable and immutable data types with examples
A) Mutable objects can be changed after they are created.
 Eg- list, set, dict
 Immutable objects cannot be changed after creation. Any operation that tries to modify them creates a new object.
 Eg- int, float, str

3) What are the main differences between lists and tuples in Python
List can be changed. It is more flexible. Has many built-in methods.
Tuple cannot be changed, has fixed size, has fewer built-in methods.

4) Describe how dictionaries store data
They store data in form of key-value pair, like a real-world dictionary where each word (key) maps to a definition (value).

5)Why might you use a set instead of a list in Python
For its uniqueness, faster lookup, membership test, set of operations.
When we want to remove duplicates from a collection.

6)What is a string in Python, and how is it different from a list
A string in Python is a sequence of characters enclosed in either single or double quotes.
String is set of charaters while list is sequence of data types. String are immutable while list is mutable.

7) How do tuples ensure data integrity in Python
Once a tuple is defined we cannot add, remove, or modify its elements. It acts like a read-only container.

8. What is a hash table, and how does it relate to dictionaries in Python
A hash table is a data structure that stores key-value pairs & allows fast data retrieval using a technique called hashing.
Dictionaries are built on top of hash tables.

9.Can lists contain different data types in Python
yes

10.Explain why strings are immutable in Python
Strings are immutable in Python to ensure memory efficiency, thread safety, consistent behavior as dictionary keys and to prevent accidental modification.

11. What advantages do dictionaries offer over lists for certain tasks
Dictionaries are better when you need fast lookups, meaningful labels, and structured data, while lists are suited for ordered, sequential data.

12. Describe a scenario where using a tuple would be preferable over a list
When you want to store fixed, unchangeable data, such as coordinates or days of the week, tuple is ideal because it is immutable.

13.How do sets handle duplicate values in Python
Sets automatically remove duplicate values.

14. How does the “in” keyword work differently for lists and dictionaries
In list it checks if a value exists in the list.
In dictionary it checks if a key exists in the dictionary (not the value).

15. Can you modify the elements of a tuple? Explain why or why not
No
Tuples are immutable, meaning once created, their elements cannot be changed, added, or removed.

16. What is a nested dictionary, and give an example of its use case
A nested dictionary is a dictionary inside another dictionary. It allows you to store complex, hierarchical data in a structured way.
Nested dictionaries are useful for representing structured data like:
Databases of users, students, or employees, Configurations or settings grouped by category.

17.Describe the time complexity of accessing elements in a dictionary
O(1)

18.  In what situations are lists preferred over dictionaries
Use lists for ordered sequences and dictionaries for structured, labeled data.

19.Why are dictionaries considered unordered, and how does that affect data retrieval
Before Python 3.7, dictionaries were considered unordered because they did not preserve the insertion order of key-value pairs. The order of items could change, making iteration unpredictable.

20. Explain the difference between a list and a dictionary in terms of data retrieval
Use lists for ordered collections accessed by position, and dictionaries for fast access to data labeled with keys.

In [ ]:
Practical Questions

In [ ]:
#1 Write a code to create a string with your name and print it
name= "Arunshi"
print(name)

Arunshi

In [ ]:
#2 Write a code to find the length of the string "Hello World"
string="Hello World"
print(len(string))

11

In [ ]:
# 3 Write a code to slice the first 3 characters from the string "Python Programming
string="Python Programming"
print(string[:3])

Pyt

In [ ]:
#4 Write a code to convert the string "hello" to uppercase
string="hello"
print(string.upper())

HELLO

In [ ]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple"
string="I like Apple"
print(string.replace("Apple","Orange"))

I like Orange

In [1]:
#)6 Write a code to create a list with numbers 1 to 5 and print it
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [2]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [3]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [4]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a','b','c','d']
print(list[1])

b

In [5]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50]
list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [6]:
 #11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
 tuple=(100,200,300)
 print(tuple)

(100, 200, 300)

In [8]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple= ('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [13]:
#13  Write a code to find the minimum number in the tuple (10, 20, 5, 15).


tuple=(10,20,5,15)
print(min(tuple))

5

In [14]:
#14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple=('dog','cat','rabbit')
print(tuple.index('cat'))

1

In [15]:
#15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple=('mango','orange','apple')
print('kiwi' in tuple)

False

In [16]:
#16  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set={'a','b','c'}
print(set)

{'c', 'a', 'b'}

In [17]:
#17  Write a code to clear all elements from the set {1, 2, 3, 4, 5}
set= {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [18]:
#18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set= {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [28]:
#19  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

s1={1,2,3}
s2={3,4,5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [30]:
#20 . Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
s1={1,2,3}
s2={2,3,4}
print(s1.intersection(s2))

{2, 3}

In [55]:
#21  Write a code to create a dictionary with the keys "name", "age", and "city" and print it

dict={"name":"Arunshi","age":"24","city":"gurugram"}
print(dict)

{'name': 'Arunshi', 'age': '24', 'city': 'gurugram'}

In [58]:
del print
del dict

NameError: name 'print' is not defined

In [59]:
#22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [61]:
#23 . Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person= {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [62]:
#24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [63]:
#25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.n person
person={'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [64]:
#26  Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'Alice', 'age': 30}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30}

In [65]:
#27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted list:", random_numbers)

Sorted list: [2, 24, 37, 77, 83]

In [66]:
#28 Write a code to create a list with strings and print the element at the third index.
fruits = ['apple', 'banana', 'cherry', 'date', 'mango']
print("Element at index 3:", fruits[3])

Element at index 3: date

In [67]:
#29  Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [71]:
del set

NameError: name 'set' is not defined

In [72]:
#30 Write a code to convert a list of strings into a set.
string_list = ['apple', 'banana', 'cherry', 'apple', 'banana']
string_set = set(string_list)
print("Set:", string_set)

Set: {'banana', 'apple', 'cherry'}